.main-image-section img{
    box-shadow: 0 2px 3px 2px rgb(204, 203, 203);
   

}

.gallery-section img{
    width: 50px;
    height:50px;
    padding: 10px;
    object-fit: contain;
    cursor: pointer;
    

}